[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Guorui1206
	email = 61010022+Guorui1206@users.noreply.github.com
